.checkOrderContainer {
    background-color: #CE2829;
    height: 100vh;
}

img{

    width: 100%;
}

.checkMain {
    display: grid;
    justify-content: center;
    padding-top: 5%;
}

.checkText {
    color:white;
    font-size: 40px;
    text-align: center;
}